{% extends 'main/layout.html' %}
{% load static %}

{% block title %}SHOP{% endblock %}


{% block content %}
<h1>SHOP PAGE</h1>

    {% if products %}

    <div class="productsWrapper">

        {% for item in products %}

            <div class="card" style="width: 18rem;">
                <img src={{item.img.url}} class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <p class="card-text">{{item.price}}</p>
                    <a href="{% url 'product' item.id %}" class="btn btn-primary">Get details</a>
                </div>
            </div>

        {% endfor %}

    </div>

    {% else %}

        <p>No one product found</p>

    {% endif %}

    {% if pages %}

        <div   class="paginationBlock">

            {% for page in pages %}
                <a href="{% url 'shop' page.number %}" class="pageBlock">{{page.number}}</a>
            {% endfor %}
        </div>

    {% endif %}

{% endblock %}